<img src="/weather_api/daily_graph.png?date={{ date }}&sensor=temperature"
width=300 height=200 />
<img src="/weather_api/daily_graph.png?date={{ date }}&sensor=dewpoint"
width=300 height=200 />
<img src="/weather_api/daily_graph.png?date={{ date }}&sensor=pressure"
width=300 height=200 />
<br />
<img src="/weather_api/daily_graph.png?date={{ date }}&sensor=windspeed"
width=300 height=200 />
<img src="/weather_api/daily_graph.png?date={{ date }}&sensor=sunshine"
width=300 height=200 />
<img src="/weather_api/daily_graph.png?date={{ date }}&sensor=rainfall"
width=300 height=200 />
<br />
<a href="/weather_api/daily-graph.html?date={{ yesterday }}">Yesterday</a>
<a href="/weather_api/daily-graph.html?date={{ tomorrow }}">Tomorrow</a>
